[submodule "compilation/buildutils"]
	path = compilation/buildutils
	url = https://gitlab.com/nadavhalahmi/buildutils.git
[submodule "r3d"]
	path = r3d
	url = https://github.com/devonmpowell/r3d.git
[submodule "source/cppversion"]
	path = source/cppversion
	url = https://gitlab.com/omrycohen/cppversion.git
[submodule "gen_version"]
	path = gen_version
	url = https://gitlab.com/omrycohen/gen_version.git
